.shape1_holder {
    /* border: 1px solid red; */
    background: url("../../../../Assets/images/Path 62.svg") no-repeat 0% 0%;
    background-size: 606px;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 606px;
    height: 678px;
    z-index: -20;
    animation: anim6 1s normal forwards ease-in-out;
}

.shape2_holder {
    /* border: 1px solid red; */
    background: url("../../../../Assets/images/Path 62.svg") no-repeat 0% 0%;
    background-size: 400px;
    position: absolute;
    bottom: 0px;
    right: -20px;
    width: 400px;
    height: 450px;
    transform: rotate(180deg);
    z-index: -20px;
    animation: anim6 1s normal forwards ease-in-out;
}

li.path {
    margin-left: 5px;
}

.leftdet {
    display: inline-block;
    width: 460px;
    height: 100%;
    position: relative;
}

.leftdet>.holderdet {
    width: 90%;
    height: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.holderdet>.bookmark {
    height: 50px;
    width: 400px;
}

.bookmark>.bookmarkicon {
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    background: url("../../../../Assets/images/bookmark.svg") no-repeat 50% 50%;
}

.rightdet {
    width: 1013px;
    display: inline-block;
}

.rightdet>img {
    width: 100%;
    height: 100%;
}

.priceholder {
    margin-top: 30px;
    background-color: #eeeeee;
    border-radius: 15px;
    font-family: yek;
    font-size: 30px;
    direction: rtl;
    padding: 10px 10px;
    color: #676666;
}

.priceholder>.itholder {
    overflow: hidden;
}

.priceholder>.itholder>.it1 {
    float: right;
}

.priceholder>.itholder>.it2 {
    float: left;
}

.itholder.det {
    font-size: 20px;
    line-height: 82px;
}

.signdet {
    text-align: center;
    margin: 25px auto 0;
    height: 60px;
    width: 200px;
    color: #eeeeee;
    background: url("../../../../Assets/images/sign.svg") no-repeat #34E386 20% 50%;
    line-height: 60px;
    border-radius: 15px;
    text-indent: -15px;
}

body {
    overflow: visible;
    background: url("../../../../Assets/images/bg.jpg") no-repeat 0% 0%;
}

/*   courses css   */

.courses_holder {
    animation: up 1s normal forwards ease-in-out;
    width: 850px;
    height: auto;
    margin: 150px auto;
    font-family: yek;
    transition: 0.5s;
}

.courses_holder>.courses_header {
    width: 30%;
    height: auto;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 30px;
    text-indent: 40px;
    text-align: center;
    background: url("../../../../Assets/images/courses.svg") no-repeat 20% 50%;
    background-size: 35px;
    line-height: 100%;
    color: #6964E3;
}

.courses_holder>.itemeholder {
    width: 100%;
    height: auto;
}

.courses_holder>.itemeholder>.items {
    width: 99%;
    height: auto;
    overflow: hidden;
    padding: 10px 5px;
    border-radius: 15px;
    direction: rtl;
    background: #ffffff;
    margin-top: 15px;
}

.picholder {
    margin-top: 12px;
    margin-left: 15px;
    width: 230px;
    margin-right: 10px;
    border-radius: 15px;
    height: 230px;
    background: url("../../../../Assets/images/gr.png") 50% 50% no-repeat;
    float: right;
}

.sign-btn {
    margin-top: 14px;
    float: left;
    width: 130px;
    height: 230px;
    margin-left: 2px;
}

.sign-btn>button {
    outline: none;
    border: none;
    display: block;
    margin: 190px auto 0;
    width: 130px;
    border-radius: 10px;
    height: 40px;
    background: url("../../../../Assets/images/sign2.svg") no-repeat 20% 50% #34E386;
    background-size: 20px;
    color: #eee;
    text-indent: -20px;
    font-family: yek;
    font-size: 20px;
    line-height: 40px;
    transition: 0.5s;
}

.sign-btn> button:hover {
    background-color:#24c46f;
    transform: scale(1.1);
}
.description {
    text-align: right;
    height: 230px;
    width: 600px;
    background: #fff;
    margin-top: 12px;
}

.description>h2 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #777777;
}

.description>p {
    margin-top: 15px;
    line-height: 30px;
    color: #6B6A6A;
}

.description>span.mentor {
    margin-top: 15px;
    line-height: 30px;
    color: #9A9A9A;
}

.description>span {
    color: #9A9A9A;
}

.description>span.price {
    color: #1BC48A;
    font-size: 23px;
}

span.rate {
    text-align: right;
    display: inline-block;
    width: 60px;
    text-indent: 10px;
    background: url("../../../../Assets/images/star.svg") no-repeat 20% 50%;
    background-size: 15px;
}

ul#next {
    margin: 20px auto;
    width: 200px;
    height: 70px;
    text-align: center;
}

#next>li {
    display: inline-block;
    border-radius: 50%;
    background: red;
    width: 30px;
    height: 30px;
}

li.right {
    border-radius: 50%;
    background: red;
    width: 30px;
    height: 30px;
}

/*   courses css   */

@media Screen and (max-width:1366px) {
    .shape1_holder {
        display: none;
    }
}

@media Screen and (max-width:1000px) {
    .courses_holder {
        width: 90%;
    }
    .courses_holder>.itemeholder>.items {
        transform: scale(1);
    }
    .courses_holder>.itemeholder>.items>.description {
        width: auto;
        padding: 5px;
    }
    .courses_holder>.courses_header {
        font-size: 25px;
    }
}

@media Screen and (max-width:414px) {
    .courses_holder>.courses_header {
        font-size: 20px;
        background-size: 25px;
    }
    .courses_holder>.itemeholder>.items>.picholder {
        float: none;
        width: 95%;
        height: 150px;
        margin: 0 auto;
    }
    .courses_holder>.itemeholder>.items>.picholder > img {
        width: 100%;
        height: 100%;
    }
    .courses_holder>.itemeholder>.items>.description {
        float: none;
    }
}

@media Screen and (max-width:1600px) {
    .leftdet {
        width: 30%;
    }
    .leftdet>.holderdet {
        width: 80%;
    }
    .leftdet>.holderdet>.priceholder>.itholder.det {
        line-height: 200%;
    }
    .rightdet {
        width: 69.5%;
    }
}

/*   single courses css   */

@media Screen and (max-width:1000px) {
    .shape2_holder {
        display: none;
    }
    #panel_holder {
        width: 100%;
        display: block;
        position: static;
        margin: auto;
        top: 0;
        right: 0;
        transform: scale(0.8);
        height: 1200px;
    }
    #panel_holder>.leftdet {
        display: block;
        width: 100%;
        bottom: 0;
        height: 50%;
        position: absolute;
        bottom: 0;
    }
    #panel_holder>.leftdet>.holderdet {
        height: auto;
    }
    #panel_holder>.rightdet {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        height: auto;
    }
}

@media Screen and (max-width:414px) {
    #panel_holder {
        height: 815px;
    }
    #panel_holder>.leftdet {
        bottom: 15px;
    }
}

@media Screen and (max-width:375px) {
    #panel_holder {
        height: 795px;
    }
    #panel_holder>.leftdet {
        bottom: 15px;
    }
}



@keyframes up{
    0%{
        margin-top: 200px;
    }
    100%{
        margin-top: 150px;
    }
}
@keyframes anim6{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

@keyframes panel{
    0%{
        opacity: 0;
        margin-top: 10px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}