body {
    margin: 0;
    direction: rtl;
    font-family: 'yek';
}

/* Holder  */

#center-holder {
    width: 1583px;
    height: 6335px;
    margin: 0 auto;
    background: url('../img/back-set.png') no-repeat 0% -16px;
    background-size: 100%;
}

@font-face {
    font-family: 'yek';
    src: url('../fonts/yek.ttf') format('truetype');
}