#footer {
    border: 1px solid transparent;
    width: 1581px;
    height: 480px;
}

/* Top-Footer */

.top-foot {
    background: url("../img2/too.png") no-repeat 50% 50%;
    border-bottom: 1px solid #5b26af;
    background-size: 100% 100%;
    height: 420px;
    border-radius: 20% 20% 0 0;
}

.top-foot>p {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 5px;
    color: white;
}

.social-media {
    border: 1px solid transparent;
    width: 410px;
    height: 80px;
    margin: 0 auto;
}

.social {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transform: rotate(45deg);
    float: left;
    margin: 15px;
    cursor: pointer;
}

.social>img {
    width: 60px;
    transform: rotate(-45deg);
    margin-right: -6px;
    margin-top: -4px;
}

.blog,
.phone-num {
    width: 180px;
    height: 210px;
    font-size: 26px;
    float: right;
    line-height: 20px;
    color: white;
    margin-top: 30px;
    margin-right: 120px;
    font-weight: lighter;
}

.phone-num {
    margin-right: 40px;
}

.blog>p,
.phone-num>p,
.address>p {
    cursor: pointer;
    font-weight: lighter;
}

.address {
    width: 280px;
    height: 210px;
    font-size: 26px;
    float: right;
    line-height: 20px;
    color: white;
    margin-top: 30px;
    margin-right: 80px;
    font-weight: lighter;
}

.pic {
    float: left;
    width: 170px;
    height: 200px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.namad-1 {
    background: url('../img2/logo.aspx.svg') no-repeat 50% 50%;
    background-size: cover;
    margin-left: 100px;
}

.namad-2 {
    background: url('../img2/logo1.aspx.svg') no-repeat 50% 50%;
    background-size: cover;
}

.namad-3 {
    background: url('../img2/namad-1.svg') no-repeat 50% 50%;
    background-size: cover;
}

/* Bottom-Footer */

.bottom-foot {
    position: relative;
    background: url("../img2/bottomi.svg") no-repeat 50% 50%;
    border: 1px solid #514baa;
    background-size: cover;
    height: 60px;
}

.bottom-foot>p {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    margin-top: 16px;
}

.hp-graph>img {
    position: absolute;
    left: 560px;
    bottom: 16px;
    width: 25px;
    height: 25px;
}