@media Screen and (max-width:1450px) {
    /* Base */

    #center-holder {
        width: 1450px;
        height: 4997px;
    }

    /* Header */

    #header {
        border: 1px solid transparent;
        width: 1448px;
    }

    #menu {
        border: 1px solid transparent;
        width: 1447px;
    }

    .menu-logo img {
        width: 70px;
        margin: 25px;
        margin-left: 0;
        margin-right: 25px;
    }

    .menu-tab {
        border: 1px solid transparent;
        width: 580px;
        margin-top: 7px;
    }

    .menu-tab li {
        font-size: 29px;
    }

    .border-bottom {
        width: 20px;
        height: 6px;
        right: 10px;
    }

    .little-des {
        font-size: 24px;
        right: 250px;
    }

    #right-skill {
        border: 1px solid transparent;
        width: 473px;
        height: 450px;
        margin-top: 70px;
        right: 40px;
    }

    .title-skill {
        font-size: 45px;
    }

    .border-bottom-skill {
        width: 473px;
        margin-right: 0;
    }

    .des-skill {
        width: 473px;
        font-size: 29px;
        margin-top: 10px;
        margin-right: 0;
    }

    .see-curses {
        width: 220px;
        height: 60px;
        border-radius: 10px;
        line-height: 62px;
        margin-right: 2px;
        font-size: 25px;
        text-indent: 18px;
    }

    .see-curses>img {
        width: 30px;
        margin-right: 17px;
        margin-top: 15px;
    }

    .laptop-vector-skill {
        width: 700px;
        margin-left: 70px;
        margin-top: 35px;
    }

    /* Content */

    #content {
        width: 1348px;
        border: 1px solid transparent;
        margin: 0 auto;
        height: 3580px;
    }

    .grouping {
        border: 1px solid transparent;
        font-size: 60px;
    }

    .grouping>p,
    .developing>p {
        margin: 20px auto;
        margin-bottom: 0;
    }

    .developing {
        border: 1px solid transparent;
        width: 1346px;
        height: 740px;
        margin: 40px auto;
        font-size: 60px;
    }

    .right-developing>img {
        width: 580px;
    }

    .left-developing {
        margin-left: 80px;
    }

    .go-ahead {
        border: 1px solid transparent;
        width: 1346px;
        height: 680px;
        margin: 0 auto;
        font-size: 60px;
    }

    .go-ahead>p {
        margin: 30px auto;
    }

    .left-ahead>img {
        width: 560px;
    }

    .right-side,
    .left-side {
        margin-right: 25px;
    }

    .top-professors {
        border: 1px solid transparent;
        font-size: 60px;
        margin: 10px auto;
    }

    .suggestions-complaints {
        border: 1px solid transparent;
        font-size: 60px;
    }

    .right-complaint>img {
        width: 635px;
        margin-right: 20px;
    }

    /* Footer */

    #footer {
        width: 1448px;
    }

    .pic {
        width: 150px;
        height: 150px;
        margin-top: 40px;
        margin-left: 18px;
    }

    .hp-graph>img {
        left: 495px;
    }

}

@media Screen and (max-width:1350px) {

    /* Base */

    #center-holder {
        width: 1350px;
        height: 4757px;
    }

    /* Header */

    #header {
        border: 1px solid transparent;
        width: 1348px;
        height: 770px;
    }

    #menu {
        border: 1px solid transparent;
        width: 1347px;
        height: 120px;
    }

    .menu-logo img {
        width: 70px;
        margin: 25px;
        margin-left: 0;
        margin-right: 25px;
    }

    .menu-tab {
        border: 1px solid transparent;
        width: 540px;
    }

    .menu-tab li {
        font-size: 28px;
    }

    .border-bottom {
        width: 20px;
        height: 6px;
        right: 10px;
    }

    #search-holder {
        width: 375px;
    }

    #search-box {
        background: url("../img2/Iconly-Light-Search.svg") no-repeat 13px 13px;
        background-size: 23px;
        background-color: #7D74E2;
        width: 50px;
        height: 50px;
    }

    #search-box:focus {
        width: 300px;
    }

    #user {
        background: url("../img2/Iconly-Light-Profile.svg") no-repeat 13px 12px;
        background-size: 26px;
        background-color: #7D74E2;
        width: 50px;
        height: 50px;
    }

    .little-des {
        font-size: 24px;
        top: 180px;
        right: 233px;
    }

    #right-skill {
        border: 1px solid transparent;
        width: 473px;
        height: 450px;
        margin-top: 70px;
        right: 35px;
    }

    .title-skill {
        font-size: 45px;
    }

    .border-bottom-skill {
        width: 473px;
        margin-right: 0;
    }

    .des-skill {
        width: 473px;
        font-size: 29px;
        margin-top: 10px;
        margin-right: 0;
    }

    .see-curses {
        width: 220px;
        height: 60px;
        border-radius: 10px;
        line-height: 62px;
        margin-right: 2px;
        font-size: 25px;
        text-indent: 18px;
    }

    .see-curses>img {
        width: 30px;
        margin-right: 17px;
        margin-top: 15px;
    }

    .laptop-vector-skill {
        width: 650px;
        margin-left: 50px;
        margin-top: 35px;
    }

    /* Content */

    #content {
        width: 1348px;
        border: 1px solid transparent;
        height: 3470px;
    }

    .grouping {
        border: 1px solid transparent;
        font-size: 60px;
    }

    .grouping>p,
    .developing>p {
        margin: 20px auto;
        margin-bottom: 0;
    }

    .developing {
        border: 1px solid transparent;
        width: 1275px;
        height: 740px;
        margin: 40px auto;
        font-size: 60px;
    }

    .right-developing>img {
        width: 550px;
    }

    .left-developing {
        border: 1px solid transparent;
        width: 550px;
        height: 510px;
        margin-top: 45px;
        margin-left: 80px;
    }

    .develop {
        width: 225px;
        height: 230px;
        border-radius: 15px;
        margin-left: 20px;
        font-size: 25px;
    }

    .back-img {
        height: 110px;
    }

    .react>img {
        width: 80px;
        margin-top: 19px;
    }

    .html>img,
    .css>img {
        width: 60px;
        margin-top: 19px;
    }

    .angular>img {
        width: 65px;
        margin-top: 19px;
    }

    h3 {
        margin-top: 15px;
        font-size: 23px;
    }

    .develop>p {
        font-size: 18px;
        margin-top: -10px;
        margin-right: 18px;
    }

    .develop>span {
        bottom: 16px;
        left: 10px;
        font-size: 20px;
    }

    .go-ahead {
        border: 1px solid transparent;
        width: 1275px;
        height: 680px;
        margin: 0 auto;
        font-size: 60px;
    }

    .go-ahead>p {
        margin: 30px auto;
    }

    .left-ahead>img {
        width: 540px;
    }

    .top-professors {
        border: 1px solid transparent;
        width: 1300px;
        height: 740px;
        font-size: 60px;
        margin: 10px auto;
    }

    .right-side,
    .left-side {
        margin-right: 30px;
    }

    .suggestions-complaints {
        border: 1px solid transparent;
        font-size: 60px;
        margin: 20px auto;
        height: 620px;
    }

    .suggestions-complaints>p {
        margin: 30px auto;
    }

    .right-complaint>img {
        width: 595px;
        margin-right: 20px;
    }

    .left-complaint {
        margin-top: 80px;
        margin-left: 30px;
    }

    /* Footer */

    #footer {
        width: 1348px;
    }

    .pic {
        width: 120px;
        height: 150px;
        margin-top: 40px;
        margin-left: 18px;
    }


    .hp-graph>img {
        left: 445px;
    }

}

@media Screen and (max-width:1250px) {

    /* Base */

    #center-holder {
        width: 1250px;
        height: 4487px;
    }

    /* Header */

    #header {
        border: 1px solid transparent;
        width: 1248px;
        height: 770px;
    }

    #menu {
        border: 1px solid transparent;
        width: 1247px;
        height: 120px;
    }

    .menu-logo img {
        width: 70px;
        margin: 25px;
        margin-left: 0;
        margin-right: 25px;
    }

    .menu-tab {
        border: 1px solid transparent;
        width: 540px;
        margin-top: 5px;
    }

    .menu-tab li {
        font-size: 25px;
        margin-left: 38px;
    }

    .border-bottom {
        width: 15px;
        height: 6px;
        right: 10px;
    }

    .little-des {
        font-size: 23px;
        top: 180px;
        right: 231px;
        line-height: 5px;
    }

    .laptop-vector-skill {
        width: 600px;
        margin-left: 60px;
        margin-top: 45px;
    }

    /* Content */

    #content {
        width: 1248px;
        border: 1px solid transparent;
        height: 3200px;
    }

    .grouping {
        border: 1px solid transparent;
        font-size: 50px;
        height: 490px;
        margin: 10px auto;
    }

    .grouping>input {
        border-radius: 13px;
        width: 140px;
        height: 55px;
        bottom: 10px;
    }

    .developing {
        border: 1px solid transparent;
        width: 1175px;
        height: 700px;
        font-size: 50px;
        margin: 20px auto;
    }

    .right-developing>img {
        width: 520px;
        margin-top: 50px;
    }

    .go-ahead {
        border: 1px solid transparent;
        width: 1175px;
        height: 650px;
        font-size: 50px;
    }

    .left-ahead>img {
        width: 500px;
    }

    .right-ahead {
        width: 440px;
    }

    .input-circle {
        right: 45px;
    }

    .top-professors {
        border: 1px solid transparent;
        width: 1200px;
        height: 630px;
        font-size: 50px;
    }

    .top-professors>p {
        margin: 10px auto;
    }

    .right-side,
    .left-side {
        margin-right: 0;
    }

    .suggestions-complaints {
        border: 1px solid transparent;
        font-size: 50px;
        width: 1200px;
        height: 600px;
    }

    .right-complaint>img {
        width: 585px;
        margin-right: 30px;
    }

    /* Footer */

    #footer {
        width: 1248px;
    }

    .blog {
        margin-right: 90px;
    }

    .phone-num {
        margin-right: 30px;
    }

    .address {
        margin-right: 60px;
    }

    .pic {
        width: 100px;
        margin-left: 28px;
    }

    .namad-2 {
        background-size: 130px;
    }

    .hp-graph>img {
        left: 390px;
    }

}

@media Screen and (max-width:1150px) {

    /* Base */

    #center-holder {
        width: 1150px;
        height: 4178px;
    }

    /* Header */

    #header {
        border: 1px solid transparent;
        width: 1148px;
        height: 650px;
    }

    #menu {
        border: 1px solid transparent;
        width: 1147px;
    }

    .menu-logo img {
        width: 60px;
        margin: 25px;
        margin-left: 0;
        margin-top: 30px;
    }

    .menu-tab {
        border: 1px solid transparent;
        width: 470px;
    }

    .menu-tab li {
        font-size: 23px;
    }

    .border-bottom {
        width: 15px;
        right: 8px;
    }

    #search-holder {
        width: 375px;
    }

    #search-box {
        background: url("../img2/Iconly-Light-Search.svg") no-repeat 12px 12px;
        background-size: 20px;
        background-color: #7D74E2;
        width: 45px;
        height: 45px;
        margin-top: 13px;
    }

    #user {
        background: url("../img2/Iconly-Light-Profile.svg") no-repeat 12px 11px;
        background-size: 23px;
        background-color: #7D74E2;
        width: 45px;
        height: 45px;
        margin-top: 13px;
    }

    .little-des {
        font-size: 22px;
        line-height: 3px;
    }

    #right-skill {
        border: 1px solid transparent;
        width: 423px;
        height: 430px;
        margin-top: 60px;
        right: 35px;
    }

    .title-skill {
        font-size: 40px;
    }

    .border-bottom-skill {
        width: 423px;
        height: 7px;
    }

    .des-skill {
        width: 423px;
        font-size: 26px;
        margin-top: 9px;
    }

    .see-curses {
        width: 200px;
        height: 55px;
        border-radius: 8px;
        line-height: 58px;
        font-size: 24px;
    }

    .see-curses>img {
        width: 25px;
        margin-right: 12px;
        margin-top: 15px;
    }

    .laptop-vector-skill {
        width: 550px;
        margin-left: 50px;
        margin-top: 50px;
    }

    /* Content */

    #content {
        width: 1148px;
        border: 1px solid transparent;
        height: 3010px;
    }

    .grouping {
        border: 1px solid transparent;
        font-size: 50px;
        width: 1048px;
        height: 490px;
        margin: 5px auto;
    }

    .grouping>input {
        border-radius: 11px;
        width: 130px;
        height: 50px;
        right: 456px;
    }

    .developing {
        border: 1px solid transparent;
        width: 1075px;
        height: 700px;
        font-size: 50px;
        margin: 5px auto;
    }

    .right-developing>img {
        width: 500px;
        margin-top: 50px;
    }

    .left-developing {
        border: 1px solid transparent;
        width: 520px;
        height: 510px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .go-ahead {
        border: 1px solid transparent;
        width: 1075px;
        height: 550px;
        font-size: 50px;
    }

    .left-ahead>img {
        width: 450px;
    }

    .right-ahead {
        width: 400px;
        height: 250px;
    }

    .input-circle {
        right: 25px;
    }

    .top-professors {
        border: 1px solid transparent;
        width: 1100px;
        height: 660px;
        font-size: 50px;
        margin: 10px auto;
    }

    .right-side,
    .left-side {
        position: relative;
        border: 1px solid transparent;
        float: right;
        width: 535px;
        height: 489px;
        margin-right: 10px;
        margin-top: 40px;
    }

    .professor {
        width: 250px;
        height: 160px;
        margin-left: 12px;
        margin-top: 70px;
    }

    .armin>img {
        width: 105px;
        top: 20px;
    }

    .armin1>img {
        width: 105px;
        bottom: 136px;
    }

    .nazari>img {
        width: 105px;
        top: 20px;
        right: 86px;
    }

    .nazari1>img {
        width: 105px;
        bottom: 136px;
        right: 86px;
    }

    .professor>h3 {
        margin-top: 65px;
    }

    .big-professor {
        width: 525px;
        height: 390px;
        margin-right: 5px;
        margin-top: 70px;
    }

    .big-professor>img {
        width: 175px;
        bottom: 335px;
        right: 185px;
    }

    .big-professor>h3 {
        font-size: 35px;
    }

    .big-professor>h4 {
        font-size: 28px;
    }

    .big-professor>p {
        font-size: 26px;
    }

    .suggestions-complaints {
        border: 1px solid transparent;
        font-size: 50px;
        width: 1100px;
        height: 560px;
        margin: 0 auto;
    }

    .right-complaint>img {
        width: 545px;
    }

    .left-complaint {
        width: 420px;
        height: 310px;
        margin-top: 50px;
    }

    .send {
        margin-right: 275px;
        width: 110px;
    }

    /* Footer */

    #footer {
        width: 1148px;
    }

    .blog {
        margin-right: 60px;
    }

    .phone-num {
        margin-right: 10px;
    }

    .address {
        margin-right: 40px;
    }

    .hp-graph>img {
        left: 343px;
    }

}

@media Screen and (max-width:1000px) {

    /* Base */

    #center-holder {
        width: 1000px;
        height: 3678px;
    }

    /* Header */

    #header {
        border: 1px solid transparent;
        width: 998px;
        height: 550px;
    }

    #menu {
        border: 1px solid transparent;
        width: 997px;
    }

    .menu-tab {
        border: 1px solid transparent;
        width: 470px;
    }

    .menu-tab li {
        font-size: 22px;
        margin-left: 30px;
    }

    .little-des {
        font-size: 20px;
    }

    #right-skill {
        border: 1px solid transparent;
        width: 320px;
        height: 360px;
        margin-top: 60px;
        right: 30px;
    }

    .title-skill {
        font-size: 30px;
    }

    .border-bottom-skill {
        width: 320px;
        height: 6px;
    }

    .des-skill {
        width: 320px;
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 10px;
        margin-top: 7px;
    }

    .see-curses {
        width: 150px;
        height: 40px;
        border-radius: 7px;
        line-height: 43px;
        font-size: 18px;
        text-indent: 13px;
    }

    .see-curses>img {
        width: 20px;
        margin-right: 9px;
        margin-top: 10px;
    }

    .laptop-vector-skill {
        width: 450px;
        margin-left: 50px;
        margin-top: 55px;
    }

    /* Content */

    #content {
        border: 1px solid transparent;
        width: 998px;
        height: 2610px;
    }

    .grouping {
        border: 1px solid transparent;
        font-size: 40px;
        width: 948px;
        height: 420px;
        margin: 5px auto;
    }

    .group {
        width: 190px;
        height: 210px;
        font-size: 30px;
        line-height: 330px;
        border-radius: 20px;
    }

    .group:nth-child(2) {
        margin-right: 0;
    }

    .grouping>input {
        border-radius: 10px;
        width: 110px;
        height: 40px;
        right: 416px;
        font-size: 25px;
    }

    .developing {
        border: 1px solid transparent;
        width: 975px;
        height: 600px;
        font-size: 40px;
        margin: 5px auto;
    }

    .right-developing>img {
        width: 450px;
        margin-top: 50px;
    }

    .left-developing {
        border: 1px solid transparent;
        width: 460px;
        height: 460px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .develop {
        width: 200px;
        height: 210px;
        margin-left: 20px;
        font-size: 23px;
    }

    .back-img {
        height: 100px;
    }

    .react>img {
        width: 70px;
    }

    .html>img,
    .css>img {
        width: 55px;
        margin-top: 19px;
    }

    .angular>img {
        width: 60px;
        margin-top: 19px;
    }

    h3 {
        font-size: 21px;
    }

    .develop>p {
        font-size: 17px;
        margin-right: 14px;
    }

    .develop>span {
        bottom: 11px;
        left: 5px;
    }

    .go-ahead {
        border: 1px solid transparent;
        width: 975px;
        height: 500px;
        font-size: 40px;
    }

    .left-ahead>img {
        width: 400px;
    }

    .right-ahead {
        width: 350px;
        height: 200px;
    }

    h2,
    .right-ahead>p {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 30px;
    }

    .right-ahead>p {
        font-size: 25px;
    }

    #emaill {
        font-size: 17px;
        width: 260px;
        height: 45px;
        margin-top: 15px;
    }

    .input-circle {
        background-size: 17px;
        top: 122px;
        right: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }

    .top-professors {
        border: 1px solid transparent;
        width: 975px;
        height: 600px;
        font-size: 40px;
        margin: 10px auto;
    }

    .right-side,
    .left-side {
        border: 1px solid transparent;
        float: right;
        width: 470px;
        height: 479px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .professor {
        width: 217px;
        height: 160px;
        margin-left: 12px;
        margin-top: 70px;
    }

    .armin>img {
        width: 95px;
        top: 25px;
        left: 75px;
    }

    .armin1>img {
        width: 95px;
        bottom: 131px;
        left: 75px;
    }

    .nazari>img {
        width: 95px;
        top: 25px;
        right: 76px;
    }

    .nazari1>img {
        width: 95px;
        bottom: 131px;
        right: 76px;
    }

    .professor>h3 {
        margin-top: 57px;
    }

    .big-professor {
        width: 460px;
        height: 390px;
        margin-right: 5px;
        margin-top: 70px;
    }

    .big-professor>img {
        width: 165px;
        bottom: 325px;
        right: 160px;
    }

    .big-professor>h3 {
        font-size: 30px;
    }

    .big-professor>h4 {
        font-size: 25px;
        text-indent: 81px;
    }

    .big-professor>p {
        width: 300px;
        font-size: 23px;
        margin-right: 81px;
    }

    .suggestions-complaints {
        border: 1px solid transparent;
        font-size: 40px;
        width: 900px;
        height: 440px;
        margin: 0 auto;
    }

    .right-complaint>img {
        width: 405px;
        margin-top: 20px;
    }

    .left-complaint {
        width: 350px;
        height: 250px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .left-complaint>h2 {
        font-size: 23px;
    }

    #message-text {
        font-size: 17px;
        width: 250px;
        height: 45px;
    }

    .left-complaint>p {
        font-size: 23px;
    }

    #emaill-2 {
        font-size: 17px;
        width: 250px;
        height: 45px;
    }

    .send {
        background-size: 14px;
        margin-right: 210px;
        margin-top: 15px;
        width: 90px;
        height: 30px;
        font-size: 20px;
    }

    /* Footer */

    #footer {
        width: 998px;
    }

    .blog,
    .phone-num {
        width: 120px;
        height: 210px;
        margin-right: 40px;
        font-size: 22px;
    }

    .phone-num {
        margin-right: 5px;
    }

    .address {
        width: 240px;
        height: 210px;
        margin-right: 45px;
        font-size: 22px;
    }

    .hp-graph>img {
        left: 270px;
    }

}

@media Screen and (max-width:375px) {

    /* Base */

    #center-holder {
        width: 375px;
        height: 3227px;
        background: #f9f9f9;
    }

    /* Header */

    #header {
        border: 1px solid transparent;
        width: 373px;
        height: 350px;
        background: url('../img2/Group\ 306.jpg') no-repeat 50% 50%;
        background-size: cover;
    }

    #menu {
        border: 1px solid transparent;
        width: 370px;
        height: 90px;
        background: #f9f9f9;
    }

    .bahr {
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        position: absolute;
        right: 160px;
        top: 28px;
        color: #514baa;
    }

    .menu-logo {
        background: url('../img2/Category.svg') no-repeat 50% 50%;
        background-size: 20px;
        width: 30px;
        height: 30px;
        margin: 30px;
        margin-right: 30px;
    }

    .menu-bag {
        width: 30px;
        height: 30px;
        background: url('../img2/Bag.svg') no-repeat 50% 50%;
        background-size: 20px;
        float: left;
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .menu-logo>img,
    .menu-tab,
    .menu-tab li,
    .little-des,
    .border-bottom,
    #search-holder,
    #search-box,
    .little-des,
    .des-skill,
    .border-bottom-skill,
    .laptop-vector-skill,
    .right-developing>img,
    .left-ahead>img,
    .right-complaint>img {
        display: none;
    }

    #right-skill {
        border: 1px solid transparent;
        width: 161px;
        height: 160px;
        margin-top: 50px;
        color: #ffffff;
        text-align: center;
        position: relative;
        right: 105px;
    }

    .title-skill {
        font-size: 28px;
        line-height: 40px;
        margin: 17px auto;
        margin-top: 5px;
    }

    .title-skill>strong {
        color: #ffffff;
        font-weight: lighter;
    }

    .see-curses {
        border: 3px solid #ffffff;
        background: transparent;
        width: 150px;
        height: 40px;
        border-radius: 7px;
        line-height: 43px;
        font-size: 18px;
        text-indent: -20px;
        margin-right: 0;
    }

    .see-curses>img {
        width: 20px;
        margin-right: 7px;
        margin-top: 10px;
    }

    /* Content */

    #content {
        border: 1px solid transparent;
        width: 373px;
        height: 2289px;
    }

    .grouping {
        border: 1px solid transparent;
        font-size: 25px;
        width: 352px;
        height: 225px;
        margin: 0 auto;
    }

    .group {
        width: 70px;
        height: 80px;
        font-size: 17px;
        line-height: 128px;
        border-radius: 13px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .group:nth-child(2) {
        margin-right: 0;
    }

    .grouping>input {
        border-radius: 50px;
        width: 70px;
        height: 30px;
        right: 141px;
        font-size: 15px;
    }

    .math {
        background-size: 30px;
        margin-right: 0;
    }

    .technology {
        background-size: 40px;
    }

    .chemistry {
        background-size: 25px;
    }

    .physics {
        background-size: 30px;
    }

    .developing {
        border: 1px solid transparent;
        width: 352px;
        height: 450px;
        font-size: 25px;
        margin: 5px auto;
    }

    .left-developing {
        border: 1px solid transparent;
        width: 350px;
        height: 360px;
        margin-top: 20px;
        margin-left: 0;
    }

    .develop {
        width: 143px;
        height: 160px;
        margin-left: 20px;
    }

    .back-img {
        height: 80px;
    }

    .react>img {
        width: 60px;
        margin-top: 13px;
    }

    .html>img,
    .css>img {
        width: 48px;
        margin-top: 13px;
    }

    .angular>img {
        width: 53px;
        margin-top: 10px;
    }

    h3 {
        font-size: 14px;
        margin-top: 10px;
    }

    .develop>p {
        font-size: 12px;
        margin-right: 14px;
    }

    .develop>span {
        background-size: 13px;
        width: 40px;
        font-size: 15px;
        bottom: 11px;
        left: 4px;
    }

    .go-ahead {
        border: 1px solid transparent;
        width: 352px;
        height: 300px;
        font-size: 25px;
    }

    .go-ahead>p {
        margin: 20px;
    }

    .right-ahead {
        width: 320px;
        height: 185px;
        margin: 15px;
    }

    h2,
    .right-ahead>p {
        font-size: 25px;
    }

    #emaill {
        font-size: 15px;
    }

    .input-circle {
        top: 115px;
        right: 30px;
    }

    .top-professors {
        border: 1px solid transparent;
        width: 352px;
        height: 900px;
        font-size: 25px;
        margin: 5px auto;
    }

    .right-side,
    .left-side {
        border: 1px solid transparent;
        float: right;
        width: 350px;
        height: 409px;
        margin: 0 auto;
    }

    .professor {
        width: 157px;
        height: 120px;
        margin-left: 12px;
        margin-top: 70px;
    }

    .armin>img {
        width: 75px;
        top: 32px;
        left: 56px;
    }

    .armin1>img {
        width: 75px;
        bottom: 111px;
        left: 56px;
    }

    .nazari>img {
        width: 75px;
        top: 32px;
        right: 53px;
    }

    .nazari1>img {
        width: 75px;
        bottom: 111px;
        right: 53px;
    }

    .professor>h3 {
        margin-top: 43px;
        font-size: 24px;
    }

    .professor>p {
        margin-top: -25px;
        font-size: 20px;
    }

    .big-professor {
        width: 325px;
        height: 320px;
        margin: 70px auto;
        margin-bottom: 0;
    }

    .big-professor>img {
        width: 125px;
        bottom: 280px;
        right: 115px;
    }

    .big-professor>h3 {
        font-size: 26px;
    }

    .big-professor>h4 {
        font-size: 22px;
        text-indent: 34px;
    }

    .big-professor>p {
        width: 254px;
        font-size: 20px;
        margin-right: 34px;
    }

    .suggestions-complaints {
        border: 1px solid transparent;
        font-size: 25px;
        width: 352px;
        height: 380px;
        margin: 0 auto;
    }

    .left-complaint {
        width: 320px;
        height: 250px;
        margin: 5px 16px;
        margin-bottom: 0;
    }

    #message-text {
        font-size: 15px;
    }

    #emaill-2 {
        font-size: 15px;
    }

    .send {
        width: 75px;
        text-indent: 10px;
    }

    /* Footer */

    #footer {
        width: 373px;
    }

    .top-foot {
        background: url("../img2/took.png") no-repeat 50% 50%;
        border-bottom: 1px solid #5b26af;
        background-size: 100% 100%;
        width: 372px;
        height: 490px;
        border-radius: 0;
    }

    .top-foot>p {
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 0;
        margin-bottom: 5px;
        color: #5b26af;
    }

    .social-media {
        width: 364px;
        margin: 0 auto;
    }

    .social {
        border-radius: 16px;
        margin: 13px 7.2px;
        float: right;
        box-shadow: 2px 1px 24px #ccc;
    }

    .social:nth-child(1) {
        margin-right: 28px;
    }

    .blog,
    .phone-num {
        width: 70px;
        height: 150px;
        font-size: 13px;
        float: right;
        line-height: 20px;
        color: white;
        margin-top: 60px;
        margin-right: 15px;
        font-weight: lighter;
    }

    .phone-num {
        margin-right: 20px;
    }

    .address {
        width: 140px;
        height: 110px;
        font-size: 13px;
        margin-top: 60px;
        margin-right: 40px;
    }

    .pic {
        float: left;
        width: 90px;
        height: 90px;
        margin-top: 10px;
        margin-left: 5px;
        cursor: pointer;
    }

    .namad-1 {
        background-size: 80px;
        margin-left: 10px;
        margin-top: 50px;
    }

    .namad-2 {
        background-size: 80px;
        margin-top: 50px;
    }

    .namad-3 {
        background-size: 80px;
    }

    .bottom-foot>p {
        text-align: right;
        text-indent: 20px;
        font-size: 15px;
    }

    .hp-graph>img {
        position: absolute;
        left: 24px;
        bottom: 20px;
        width: 21px;
        height: 21px;
    }

}