@font-face {
  font-family: "yek";
  src: url("../../../../Assets/fonts/yek.ttf") format("truetype");
}

@font-face {
  font-family: "yekan_bakh";
  src: url("../../../../Assets/fonts/YekanBakh_Bold.ttf") format("truetype");
}

.md6R {
  width: 29.0625rem !important;
  margin-top: 7rem !important;
  font-family: "yek";
}
.roundedform {
  border-radius: 25px !important;
}
.usernameinput {
  border-radius: 15px !important;
  background: #e9e9e9 !important;
  color: #b2b2b2 !important;
  border: none !important;
  background-image: url("../../../../Assets/images/Profilee.svg") !important;
  background-position: 15px !important;
  background-repeat: no-repeat !important;
  background-size: 15px !important;
}
.passwordinput {
  border-radius: 15px !important;
  background: #e9e9e9 !important;
  color: #b2b2b2 !important;
  border: none !important;
  background-image: url("../../../../Assets/images/lockk.svg") !important;
  background-position: 15px !important;
  background-repeat: no-repeat !important;
  background-size: 15px !important;
}
input::placeholder {
  color: #b2b2b2 !important;
  font-family: "yek" !important;
}
.usernametext {
  margin-right: 4rem !important;
}
.card {
  height: 300px !important;
  width: 450px !important;
}
.signUpR {
  font-size: 20px !important;
  color: white !important;
  
  font-weight: 900 !important;
  width: 7.5rem !important;
  height: 2.7rem !important;
  border-radius: 10px !important;
  border: 1px solid #665aee !important;
  cursor: pointer !important;
  background: linear-gradient(#5a5bed, #895af4);
  line-height: 8px !important;

}
.signInR {
  font-size: 20px !important;
  color: #665aee !important;
  font-weight: 900 !important;
  width: 5rem !important;
  height: 2.8rem !important;
  line-height: 8px !important;
  border-radius: 10px !important;
  /* border: 2px solid #665AEE !important; */
  cursor: pointer !important;
  
}
.exclamationR {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
  left: 2px;

  background-size: 15px;
  margin-left: 7px;
}
a {
  text-decoration: none;
  color: #4985ec;
  font-family: "yek";
  font-size: 18px;
}

.forgetPass {
  position: relative;
  left: 75px;
  color: #3078f5;
}

