@media Screen and (max-width:1600px) {
    .leftdet{
        width: 30%;
    }
    .leftdet > .holderdet{
        width: 80%;
    }
    .leftdet > .holderdet > .priceholder > .itholder.det{
        line-height: 200%;
    }
    .rightdet{
        width: 69.5%;
    }
}