li.path{
    margin-left: 5px;
}


.leftdet{
    display: inline-block;
    width: 460px;
    height: 100%;
    position: relative;
}
.leftdet > .holderdet{
    width: 90%;
    height: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
}

.holderdet > .bookmark{
    height: 50px;
    width: 400px;
}
.bookmark > .bookmarkicon{
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    background: url("../../img-det/bookmark.svg") no-repeat 50% 50%;
}
.rightdet{
    width: 1013px;
    display: inline-block;
}
.rightdet > img{
    width: 100%;
    height: 100%;
}

.priceholder{
    margin-top: 30px;
    background-color: #eeeeee;
    border-radius :15px;
    font-family: yek ;
    font-size: 30px;
    direction: rtl;
    padding: 10px 10px;
    color: #676666;
}
.priceholder > .itholder{
    overflow: hidden;
}
.priceholder > .itholder > .it1{
    float: right;
}
.priceholder > .itholder > .it2{
    float: left;
}
.itholder.det{
    font-size: 20px;
    line-height: 82px;
}



.signdet{
    text-align: center;
    margin: 25px auto 0;
    height: 60px;
    width: 200px;
    color: #eeeeee;
    background: url("../../img-det/sign.svg") no-repeat #34E386 20% 50%;
    line-height: 60px;
    border-radius: 15px;
    text-indent: -15px;
}
    body{
        overflow: visible;
        background: url("../../img-det/bg.jpg") no-repeat 0% 0%;
    }


/*   courses css   */ 

.courses_holder {
    width: 850px;
    height: auto;
    margin: 150px auto;
    font-family: yek;
}

.courses_holder > .courses_header{
    width: 200px;
    height: auto;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 30px;
    text-indent: 40px;
    text-align: center;
    background: url("../../img-det/courses.svg") no-repeat 20% 50%;
    background-size: 35px;
    line-height: 100%;
    color: #6964E3;
}

.courses_holder > .itemeholder{
    width: 100%;
    height: auto;
}
.courses_holder > .itemeholder > .items{
    width: 99%;
    height: auto;
    overflow: hidden;
    padding: 10px 5px;
    border-radius: 15px;
    direction: rtl;
    background: #ffffff;
    margin-top: 15px;
}

.picholder{
    margin-top: 12px;
    margin-left:15px ;
    width: 230px;
    margin-right: 10px;
    border-radius: 15px;
    height: 230px;
    background: url("../../img-det/gr.png") 50% 50% no-repeat;
    float: right;
}
.sign-btn{
    margin-top: 12px;
    float: left;
    width: 130px;
    height: 230px;
}
.sign-btn > button{
    outline: none;
    border: none;
    display: block;
    margin: 190px auto 0;
    width: 130px;
    border-radius:10px;
    height: 40px;
    background: url("../../img-det/sign2.svg") no-repeat 20% 50% #34E386;
    background-size: 20px;
    color:#eee;
    text-indent: -20px;
    font-family: yek;
    font-size: 20px;
    line-height: 40px;

}

.description{
    float: right;
    height: 230px;
    width: 450px;
    background: #fff;
    margin-top: 12px;
}

.description > h2{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #777777;
}
.description > p{
    margin-top: 15px;
    line-height: 30px;
    color: #6B6A6A;
}
.description > span.mentor{
    margin-top: 15px;
    line-height: 30px;
    color: #9A9A9A;
}
.description > span{
    color: #9A9A9A;
}
.description > span.price{
    color: #1BC48A;
    font-size: 23px;
}

span.rate{
    text-align: right;
    display: inline-block;
    width: 60px;
    text-indent: 10px;
    background: url("../../img-det/star.svg") no-repeat 20% 50%;
    background-size: 15px;
}



ul#next{
    margin: 20px auto;
    width: 200px;
    height: 70px;
    text-align: center;
}


#next > li{
    display: inline-block;
    border-radius: 50%;
    background: red;
    width: 30px;
    height: 30px;
}

li.right{
    border-radius: 50%;
    background: red;
    width: 30px;
    height: 30px;
}





