.leftprof_holder {
    width: 1131px;
    height: 324px;
}
.blackbg{
    background-color: #000000;
    opacity: 69%;
    width: 100%;
    height: 100%;
}

.leftprof_holder img{
    position: absolute;
    height: 323px;
    width: 76.6%;
}
body{
    overflow-y: visible !important; /* Hide vertical scrollbar */
    overflow-x: hidden !important; /* Hide vertical scrollbar */
}
.chngeimg{
    visibility: hidden;
}
.getimg{
    width: 207px;
    height: 204px;
    background-image: url("../../images/Group 300.png");
    background-repeat: no-repeat;
    background-position:10px 10px;
    border-radius: 27px;
    display: inline-block;
}
.editimg{
        position: absolute;
        height: 0;
        bottom: 128px;
        top: 53px;
        left: 466px;
}
.down{
    width: 76%;
    height: 57%;
}
.title{
    margin: 20px 503px;
    width: 150px;
    font-size:27px;
    font-family: 'yek';
    color: #695ADC;
}
.inputs_holder{
    width: 778px;
    height: 223px;
    margin-left: 175px;
}
.item{
    float: right;
    width: 359px;
    height: 102px;
    margin-right: 5px;
    margin-left: 25px;
}
.item p {
    margin: 0px 125px;
    width: 200px;
    color: #707070;
    font-family: 'yek';
    font-size: 26px;
    text-align: right;
}
.inputs_holder input{
    background-color: #E9E9E9;
    border: none;
    border-radius: 15px;
    height: 55px;
    width: 90%;
    font-size: 26px;
    font-family: 'yek';
    direction: rtl;
    text-align: right;
    padding-right: 27px;
    color: #B2B2B2;
}
.sub{
    font-size: 30px;
    height: 59px;
    font-family: 'yek';
    border: none;
    border-radius: 20px;
    background: rgb(90,91,237);
    background: linear-gradient(90deg, rgba(90,91,237,1) 0%, rgba(137,90,244,1) 82%);
    width: 178px;
    padding-left: 30px;
    color: white;
}
.cansel{
    width: 136px;
    height: 59px;
    border-radius: 17px;
    border: 4px solid #7B5AF1;
    background: url("../../images/Group 195.png") no-repeat 24px 4px;
}
.button_holder {
    width: 344px;
    height: 59px;
    display: inline-flex;
    position: relative;
    left: 364px;
    direction: rtl;
    top: 39px;
}
.button_holder input {
    margin-left: 11px;
}
.true {
    position: relative;
    right: 143px;
    bottom: 42px;
}