#menu {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid transparent;
  width: 1579px;
  height: 120px;
  direction: rtl;
  font-family: "yek";
}

.menu-logo img {
  margin: 10px;
  margin-right: 19px;
  float: right;
  width: 55px;
  height: 55px;
}

ul {
  list-style: none;
}

.menu-tab {
  border: 1px solid transparent;
  width: 740px;
  height: 110px;
  display: inline-block;
  margin-top: -20px;
}

.menu-tab li {
  display: inline-block;
  font-size: 24px;
  margin-left: 45px;
  margin-top: 35px;
  color: #777;
}

.menu-tab li:nth-child(1) {
  display: inline-block;
  font-size: 24px;
  margin-left: 45px;
  margin-top: 35px;
  color: #444;
}

.border-bottom {
  border-radius: 30px;
  width: 24px;
  height: 8px;
  position: relative;
  bottom: 1px;
  right: 6px;
  background: linear-gradient(
    0deg,
    rgba(156, 90, 247, 1) 0%,
    rgba(70, 91, 234, 1) 100%
  );
}

#search-holder {
  width: 398px;
  height: 71px;
  border: 1px solid transparent;
  float: left;
  position: absolute;
  left: 25px;
  top: 10px;
  font-family: "yek";
}

#search-box {
  background: url(../../img/Iconly-Light-Search.svg) no-repeat 9px 10px;
  background-color: #7d74e2;
  font-family: yek;
  font-size: 20px;
  color: transparent;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  float: left;
  transition: 0.5s;
  text-align: right;
  padding-right: 21px;
  padding-left: 21px;
  position: relative;
  float: left;
  text-indent: 25px;
  margin-top: 5px;
  cursor: pointer;
}

#search-box:focus {
  color: white;
  transition: 0.5s;
  width: 315px;
  cursor: text;
}

#user {
  background: url(../../img/Iconly-Light-Profile.svg) no-repeat 8px 8px;
  background-color: #7d74e2;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 5px;
  border: none;
  float: left;
  margin-left: 10px;
}

.little-des {
  color: white;
  transform: rotate(270deg);
  font-size: 25px;
  position: absolute;
  line-height: 10px;
  top: 198px;
  right: 272px;
  width: 242px;
}
